bier, ospfv3: Add support for more than a single BIFT

[RFC 8279 Section 6.5](https://datatracker.ietf.org/doc/html/rfc8279#section-6.5) specifies that a BIFT-id uniquely identifies the set <SI, Sub-Domain, BitStringLength>.

Our BIER implementation should support this identification. Currently, it is completely ignored and a single BIFT is supported.

In addition, the related FastClick BIFT URL should also be configurable, it is currently hard-coded to `localhost/bift0`.